<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Workout Clock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A050ED8D1E5FC535000C9735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A050EDA11E5FC535000C9735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A050EDAC1E5FC535000C9735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
